body
{   
     background: linear-gradient(rgba(0,0,255,0.3),rgba(0,0,255,0.3));
    background-size:cover;
    background-position: center;
}


.form-control
{   background-color: transparent !important;
}

.col-md-6
{   width: 50%;
    float: none;
    margin: 50px auto;
    background: rgba(255,255,255,0.5);
    padding: 10 px;
}

.form-group
{   width: 50%; 
    margin: 50px auto;
    display: block;
}

h2
{  width: 50%; 
    margin: 150px auto;
    display: block;
}

.kk
{    width: 50%;
    margin-left: auto;
	margin-right: auto;
    display: block;
}